<div id="page-404" class="jumbotron">
<h1 class="text-center"><span>404 - PAGINA NON TROVATA!<span></h1>

  <div class="">
    <%= render "layouts/home/barra_ricerca_home" %>
  </div>
  <div class="container-fluid" style="padding-top:30px;">
    <div class="col-sm-4 bottom-align-text">
      <p class="txtJumbotron">FACCIO ACQUISTI<br> E DICO <b>NO</b> AL PIZZO</p>
    </div>
    <div class="col-sm-4">
      <%= image_tag "template/logo/consumocritico.png", :id => "logoJumbotron", :class => "img-responsive" %>
    </div>
    <div class="col-sm-4 bottom-align-text text-right">
      <p class="txtJumbotron">SEGNI DI CIVILTÀ</p>
    </div>
  </div>
</div>
</div>
