  <div class="container" style="background-color:none;">
    <%= image_tag "template/cart/cart-empty.png", :id => "cart", :class => "img-responsive col-md-12", :style =>  "height:500px;align:center;" %>
    <%= link_to "Torna indietro", root_path,method: :get %>
  </div>
