<%- model_class = Impresa -%>
<div class="container">
  <div class="page-header">
    <h1><%=t '.title', :default => [:'helpers.titles.edit', 'Edit %{model}'], :model => @impresa.nome %></h1>
  </div>

  <div class="row">
    <div class="col-md-12">
      <!-- Sezione Catalogo-->
      <%= render :partial => 'prodotti' %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <!-- Sezione Dati Impresa -->
      <%= render :partial => 'form_edit' %>
    </div>
  </div>
</div>
