<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @sottocategorie.nome %>
</p>

<%= link_to 'Edit', edit_sottocategorie_path(@sottocategorie) %> |
<%= link_to 'Back', sottocategoria_path %>
