<h1>Editing Carrello</h1>

<%= render 'form' %>

<%= link_to t('.torna_al_carrello', :default => t("helpers.links.torna_al_carrello")),
            carrello_path, :class => 'btn btn-default',method: :get %>
