<%- model_class = Ordine -%>
<div class="container">
  <div class="page-header">
    <h2 class="text-center"><%=t '.title', :default => [:'helpers.titles.edit', 'Edit %{model}'], :model => model_class.model_name.human.titleize %></h2>
  </div>
  <div class="row">
    <div class="col-md-12">
      <%= render :partial => 'form' %>
    </div>
  </div>
</div>
