<%- model_class = Ordine -%>
<div class="container">
  <!-- Sezione Ordini Attivi -->
  <div class="panel panel-success" style="margin-top: 10px;">
    <div class="panel-heading">
      <h4>Ordini Attivi</h4>
    </div>
    <div class="panel-body">
      <%= render "ordini_attivi" %>
    </div>
  </div>
  <!-- Sezione Gestione Imprese -->
  <div class="panel panel-info">
    <div class="panel-heading">
      <h4>Ordini Completati</h4>
    </div>
    <div class="panel-body">
      <%= render "ordini" %>
    </div>
  </div>
</div>
