<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @sottocategoria.nome %>
</p>

<%= link_to 'Edit', edit_sottocategoria_path(@sottocategoria) %> |
<%= link_to 'Back', sottocategorie_path %>
