<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      È stato eliminato un ordine relativo alla impresa <%= @ordine.impresa.nome %>.La transazione verrà interrotta.
    </p>
  </body>
</html>
