<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      È stato creato un nuovo titolare assegnato a questo polo. Stabilire un incontro. Fino a quel momento eventuali imprese da lui create
      non saranno visibili nel portale perchè non verificate<br><br>
      Nome: <%= @titolare.nome %> <%= @titolare.cognome %><br>
      Email: <%= @titolare.email %>
    </p>

  </body>
</html>
