<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      L'ordine è bello che pagato titolare <%= @user.name %>
    </p>
  </body>
</html>
