  <div id="catalogo-vuoto">
    <div class="col-md-4">
      <%= image_tag "template/catalogo_vuoto.png",:class => "img-responsive",:size => '300x300'%>
    </div>
    <div class="col-md-8">
      <h2 id="catalogo-label"> Il catalogo dell'impresa <%= params[:impresa_nome] %> è attualmente vuoto.</h2>
    </div>
  </div>
