<%- model_class = Prodotto -%>
<script>
$(document).ready(function() {
        document.jcrop.init({ file_input_id: 'prodotto_image' });
    });
</script>
<div class="container">
  <div class="page-header">
    <h1><%=t '.title', :default => [:'helpers.titles.new', 'New %{model}'], :model => model_class.model_name.human.titleize %></h1>
  </div>
  <%= render "form" %>
</div>
