<%- model_class = Prodotto -%>
<script>
$(document).ready(function() {
        document.jcrop.init({ file_input_id: 'prodotto_image' });
    });
</script>
<div class="container">
  <div class="page-header"></div>
  <div class="row">
    <%= render "form" %>
  </div>
</div>
