<div class="container-fluid footerSeparator">
  <div id="footer" class="row">
    <div class="col-xs-6 col-sm-4 col-md-3 ">
      <%= image_tag "template/logo/Logo_footer.png", :id => "logoFooter", :class => "img-responsive" %>
    </div>
    <div class="footerInfo col-xs-6 col-sm-6 col-md-3" >
      <h4>Palermo</h4>
      <dl class="dl-horizontal">
        <dt>Indirizzo</dt>
        <dd>Via Palermo</dd>
        <dt>Telefono</dt>
        <dd>06808020</dd>
        <dt>Email</dt>
        <dd>emailmia@email.it</dd>
      </dl>
    </div>
    <div class="footerInfo col-xs-6 col-sm-6 col-md-3">
      <h4>Messina</h4>
      <dl class="dl-horizontal">
        <dt>Indirizzo</dt>
        <dd>Via Palermo</dd>
        <dt>Telefono</dt>
        <dd>06808020</dd>
        <dt>Email</dt>
        <dd>emailmia@email.it</dd>
      </dl>
    </div>
    <div class="footerInfo col-xs-6 col-sm-6 col-md-3 col-sm-push-4 col-md-push-0">
      <h4>Catania</h4>
      <dl class="dl-horizontal">
        <dt>Indirizzo</dt>
        <dd>Via Palermo</dd>
        <dt>Telefono</dt>
        <dd>06808020</dd>
        <dt>Email</dt>
        <dd>emailmia@email.it</dd>
      </dl>
    </div>
  </div>
</div>
